<?php
require_once(__DIR__.'/vendor/autoload.php');

use Permafrost\PhpCsFixerRules\Finder\LaravelProjectFinder;
use Permafrost\PhpCsFixerRules\SharedConfig;

$finder = LaravelProjectFinder::create(__DIR__);

return SharedConfig::create($finder);
